.popper-item{
    width: 100%;
    height: 5rem;
    align-items: center;
    margin-bottom: 1rem;
}
.popper-item .img{
    width: 5rem;
    height: 5rem;
}
.popper-item .img img{
    width: 90%;
    height: 90%;
}
